body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

nav {
    overflow: hidden;
    margin-bottom: 30px;
}

.navlink {
    float: left;
    margin-right: 15px;
}

.dellink {
    color: #dd1111;
    float: right;
}

.delbutton {
    display: block;
    margin: 0 auto;
    background: red;
    border: none;
    padding: 5px;
    color: white;
}

#containerlist, #containershow {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.listitem {
    margin: 10px 0;
}

.newRentalBtn {
    display: block;
    width: 300px;
}

.inputrow {
    margin-bottom: 15px;
    width: 40%;
    overflow: hidden;
}

    .inputrow input, .inputrow textarea {
        float: right;
    }

    .inputrow textarea {
        width: 100%;
        max-width: none;
        float: none;
    }

    .inputrow input[type="submit"] {
        float: none;
        margin-top: 50px;
    }
