/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4 {
    font-family: "Amaranth";
}

p {
    font-family: "Open Sans";
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

nav {
    font-family: "Amaranth";
    overflow: hidden;
    margin-bottom: 30px;
}

.navbar-brand {
    padding: 15px 10px;
}

.navlink {
    float: left;
    margin-right: 15px;
}

.dellink {
    color: #dd1111;
    float: right;
}

.delbutton {
    display: block;
    margin: 0 auto;
    background: red;
    border: none;
    padding: 5px;
    color: white;
}

#containerlist, #containershow {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.moviePoster{
    width:200px;
    height: 300px;
}

.listitem {
    margin: 10px 0;
}

.newRentalBtn {
    display: block;
    width: 300px;
}

.inputrow {
    margin-bottom: 15px;
    width: 40%;
    overflow: hidden;
}

    .inputrow input, .inputrow textarea {
        float: right;
    }

    .inputrow textarea {
        width: 100%;
        max-width: none;
        float: none;
    }

    .inputrow input[type="submit"] {
        float: none;
        margin-top: 50px;
    }
