/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4 {
    font-family: "Amaranth";
}

p, div {
    font-family: "Open Sans";
}

a {
    text-decoration: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

nav {
    font-family: "Amaranth";
    overflow: hidden;
}

.navbar-brand {
    padding: 15px 10px;
}

.navlink {
    float: left;
    background-color: white;
    color: black;
    border: 2px solid #333333;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navlink:hover {
    background-color: #333333;
    color: #9d9d9d;
 }

.dellink {
    float: left;
    background-color: #fff;
    color: black;
    border: 2px solid #FF0000;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.dellink:hover {
    background-color: #FF0000;
    color: #fff;
}

.delbutton {
    display: block;
    background: red;
    border: none;
    color: white;
    margin-right: 15px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
}

.container {
    margin-top: 10px;
    display: grid;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }

    .listitem {
        width: -webkit-fill-available;
    }

    .listitem img {
        max-width: -webkit-fill-available;
    }
}

#containerlist, #containershow {
    margin: 0 auto;
    margin-top: 20px;
}

.form-group label{
    margin-left: 15px;
}
.movieInfo {
    text-align: center
}

.moviePoster{
    width:200px;
    height: 300px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.listitem {
    display: flex;
    border: thin solid lightgrey;
    text-align: center;
    padding: 10px;
}

    .listitem img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 300px;
    }

.list-content {
    width: 100%;
    background-color: #ccc;
    padding: 10px;
}

.newRentalBtn {
    display: block;
    width: 300px;
}

.inputrow {
    margin-bottom: 15px;
    width: 40%;
    overflow: hidden;
}

    .inputrow input, .inputrow textarea {
        float: right;
    }

    .inputrow textarea {
        width: 100%;
        max-width: none;
        float: none;
    }

    .inputrow input[type="submit"] {
        float: none;
        margin-top: 50px;
    }

.rentalMovieId {
    display: none;
}
