@model IEnumerable<PassionProject.Models.Movie>

@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Movie/New">New Movie</a>
    </nav>
    <h2 s>List of Movies</h2>
    <form action="/Movie/List" method="GET">
        <input type="text" name="searchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>

    <div class="container d-flex justify-content-center">
        <div class="row">
            @foreach (var movie in Model)
            { 
                <div class="col-xs-6 col-md-4 listitem">
                    <a href="/Movie/Show/@movie.Id">
                        <img src="@movie.Poster" class="img-fluid" alt="Responsive image">
                        <div>
                            <h3>@movie.Name</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>