@model PassionProject.Models.Movie

@{
    ViewBag.Title = "NewMovieRental";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Movie/List">Back to Home</a>
        <a class="navlink" href="/Movie/Show/@Model.Id">Back to the Movie</a>
    </nav>
</div>

<h2>New Rental</h2>

<form method="POST" action="/Movie/CreateRental">
    <div>
        <label for="fName">First Name: </label>
        <input type="text" name="fName" id="fName" />
    </div>
    <div>
        <label for="lName">Last Name: </label>
        <input type="text" name="lName" id="lName" />
    </div>
    <div>
        <label for="movieId">Movie Id: </label>
        <input type="number" name="movieId" id="movieId" value="@Model.Id" />
    </div>
    <div>
        <label for="fDate">Date of Purchase (yyyy-mm-dd): </label>
        <input type="date" name="fDate" id="fDate" />
    </div>
    <div>
        <label for="tDate">Date of Return (yyyy-mm-dd): </label>
        <input type="date" name="TDate" id="TDate" />
    </div>
    <div>
        <input type="submit" value="Add Rental" />
    </div>
</form>


